<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>EMEA Release Summary</title>
  </head>

  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
  <style media="screen">
    header {
      top: 0;
      left: 0;
      position: fixed;
      right: 0;
    }

    footer {
      bottom: 0;
      left: 0;
      position: fixed;
      right: 0;
      text-align: center;
    }
  </style>

  <body>
    <header class="w3-container w3-teal" >
      <h1>Product Solutions Group</h1>
    </header>
    <br>
    <br>
    <br>

    <!-- Nav Bar -->
    <div class="w3-container w3-bar w3-black w3-border">
        <a href="{% url 'home' %}">
            <i class="w3-left w3-xxlarge fa fa-home"></i>
        </a>

        <div class="w3-dropdown-hover">
            <button class="w3-button w3-large">Release</button>

            <div class="w3-dropdown-content w3-bar-block w3-card-4">
                <a href="#" class="w3-bar-item w3-button">Asia</a>
                <a href="{% url 'emeasumm' %}" class="w3-bar-item w3-button">EMEA</a>
                <a href="#" class="w3-bar-item w3-button">CTS</a>
            </div>
        </div>

        <div class="w3-dropdown-hover">
            <button class="w3-button w3-large">Calendar</button>

            <div class="w3-dropdown-content w3-bar-block w3-card-4">
                <a href="#" class="w3-bar-item w3-button">Asia</a>
                <a href="{% url 'emeacal' %}" class="w3-bar-item w3-button">EMEA</a>
                <a href="#" class="w3-bar-item w3-button">CTS</a>
            </div>
        </div>

        <a href="#" class="w3-bar-item w3-button w3-large">SEW</a>
        <a href="#" class="w3-bar-item w3-button w3-large">Resource</a>

        <div class="w3-dropdown-hover">
            <button class="w3-button w3-large">Contact</button>

            <div class="w3-dropdown-content w3-bar-block w3-card-4">
                <a href="#" class="w3-bar-item w3-button">Asia</a>
                <a href=""{% url 'emeacontact' %}"" class="w3-bar-item w3-button">EMEA</a>
                <a href="#" class="w3-bar-item w3-button">CTS</a>
            </div>
        </div>

        <a href="#" class="w3-bar-item w3-button w3-large">About</a>

        <!-- Search -->
        <form class="w3-right w3-large" action="{% url 'emeasearch' %}" method="POST">
            {% csrf_token %}
            <input type="text" class="w3-bar-item w3-input"
             placeholder="OPPM|PV|Release" name='srch'>
            <button class="w3-button" type="submit">
                <i class="fa fa-search"></i>
            </button>
        </form>
    </div>

    <!-- Title -->
    <div class="w3-container w3-center">
      <h4 class=w3-light-blue><b>EMEA Release Summary</b></h4>
    </div>

    <div class="w3-container">
      <table class="w3-table w3-bordered w3-striped">
        <tr class="w3-pale-green">
          <td><b>Release :</b>
            <div class="w3-dropdown-hover">
                <button class="w3-button">Release</button>
                <div class="w3-dropdown-content w3-bar-block w3-card-4">
                  <a href="#" class="w3-bar-item w3-button">R1</a>
                  <a href="#" class="w3-bar-item w3-button">R2</a>
                  <a href="#" class="w3-bar-item w3-button">R3</a>
                  <a href="#" class="w3-bar-item w3-button">R4</a>
                </div>
            </div>
          </td>
          <td><b>Phase :</b> Design</td>
          <td><b>From :</b> 1-Aug-2017</td>
          <td><b>To :</b> 23-Aug-2017</td>
          <td><b>No. of OPPMs :</b> 10</td>
          <td><b>RAG : </b><button class="w3-button w3-red"></button></td>
        </tr>
      </table>
    </div>
    <br>

    <div class="w3-container w3-center">
      <h4><b>Summary by OPPM Status</b></h4>
    </div>

    <div class="w3-container">
      <div class="w3-row-padding">
        <div class="w3-panel w3-card-2 w3-light-grey">
          <!-- <div class="w3-col s6 w3-light-grey"> -->
            <table class="w3-table w3-bordered w3-striped">
              <tr class="w3-pale-green">
                <th>Status</th>
                <th>OPPM Count</th>
                <th>Total E0</th>
                <th>Total E1</th>
              </tr>

              <tr>
                <td>Pending Requirements</td>
                <td>10</td>
                <td>200</td>
                <td>210</td>
              </tr>

              <tr>
                <td>Grooming WIP</td>
                <td>2</td>
                <td>20</td>
                <td>TBD</td>
              </tr>
            </table>
          <!-- </div> -->
        </div>
      </div>
    </div>
    <br>

    <div class="w3-container w3-center">
      <h4><b>Efforts by Applications</b></h4>
    </div>

    <div class="w3-container">
      <div class="w3-row-padding">
        <div class="w3-panel w3-card-2 w3-light-grey">
          <table class="w3-table w3-bordered w3-striped">
            <tr class="w3-pale-green">
              <th>Efforts</th>
              <th>ADS</th>
              <th>CDE</th>
              <th>EAS</th>
              <th>BA</th>
              <th>ECMS</th>
              <th>ELTS</th>
              <th>Emb</th>
              <th>EPP</th>
              <th>FASB</th>
              <th>MLI</th>
              <th>RWS</th>
              <th>Stmts</th>
              <th>SS</th>
              <th>TRAMS</th>
              <th>TRIAD</th>
              <th>Utility</th>
            </tr>

            <tr>
              <td>E0</td>
              <td>215</td>
              <td>0</td>
              <td>61</td>
              <td>0</td>
              <td>0</td>
              <td>10</td>
              <td>200</td>
              <td>210</td>
              <td>268</td>
              <td>10</td>
              <td>200</td>
              <td>210</td>
              <td>5</td>
              <td>10</td>
              <td>200</td>
              <td>210</td>
            </tr>

            <tr>
              <td>E1</td>
              <td>215</td>
              <td>0</td>
              <td>61</td>
              <td>0</td>
              <td>0</td>
              <td>10</td>
              <td>200</td>
              <td>210</td>
              <td>268</td>
              <td>10</td>
              <td>200</td>
              <td>210</td>
              <td>5</td>
              <td>10</td>
              <td>200</td>
              <td>210</td>
            </tr>
          </table>
        </div>
      </div>
    </div>
    <br>


  </body>
</html>
