<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>EMEA Release Calendar</title>
  </head>

  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
  <style media="screen">
    header {
      top: 0;
      left: 0;
      position: fixed;
      right: 0;
    }

    footer {
      bottom: 0;
      left: 0;
      position: fixed;
      right: 0;
      text-align: center;
    }
  </style>

  <body>
    <header class="w3-container w3-teal" >
      <h1>Product Solutions Group</h1>
    </header>
    <br>
    <br>
    <br>
    <!-- Nav Bar -->
    <div class="w3-container w3-bar w3-black w3-border">
        <a href="{% url 'home' %}">
            <i class="w3-left w3-xxlarge fa fa-home"></i>
        </a>

        <div class="w3-dropdown-hover">
            <button class="w3-button w3-large">Release</button>

            <div class="w3-dropdown-content w3-bar-block w3-card-4">
                <a href="#" class="w3-bar-item w3-button">Asia</a>
                <a href="{% url 'emeasumm' %}" class="w3-bar-item w3-button">EMEA</a>
                <a href="#" class="w3-bar-item w3-button">CTS</a>
            </div>
        </div>

        <div class="w3-dropdown-hover">
            <button class="w3-button w3-large">Calendar</button>

            <div class="w3-dropdown-content w3-bar-block w3-card-4">
                <a href="#" class="w3-bar-item w3-button">Asia</a>
                <a href="{% url 'emeacal'%}" class="w3-bar-item w3-button">EMEA</a>
                <a href="#" class="w3-bar-item w3-button">CTS</a>
            </div>
        </div>

        <div class="w3-dropdown-hover">
            <button class="w3-button w3-large">Insert</button>

            <div class="w3-dropdown-content w3-bar-block w3-card-4">
                <a href="{% url 'emeaadd' %}" class="w3-bar-item w3-button">Project</a>
                <a href="{% url 'emeaadde0' %}" class="w3-bar-item w3-button">E0</a>
                <a href="{% url 'emeaadde1' %}" class="w3-bar-item w3-button">E1</a>
                <a href="{% url 'emeacaladd' %}" class="w3-bar-item w3-button">Calendar</a>
            </div>
        </div>

        <div class="w3-dropdown-hover">
            <button class="w3-button w3-large">Edit</button>

            <div class="w3-dropdown-content w3-bar-block w3-card-4">
                <a href="{% url 'emeaeditprj' %}" class="w3-bar-item w3-button">Project</a>
                <a href="{% url 'emeaedite0' %}" class="w3-bar-item w3-button">E0</a>
                <a href="{% url 'emeaedite1' %}" class="w3-bar-item w3-button">E1</a>
            </div>
        </div>

        <!-- <a href="#" class="w3-bar-item w3-button w3-large">SEW</a> -->
        <a href="#" class="w3-bar-item w3-button w3-large">Resource</a>

        <div class="w3-dropdown-hover">
            <button class="w3-button w3-large">Contact</button>

            <div class="w3-dropdown-content w3-bar-block w3-card-4">
                <a href="#" class="w3-bar-item w3-button">Asia</a>
                <a href="{% url 'emeacontact' %}" class="w3-bar-item w3-button">EMEA</a>
                <a href="#" class="w3-bar-item w3-button">CTS</a>
            </div>
        </div>

        <a href="#" class="w3-bar-item w3-button w3-large">About</a>

        <!-- Search -->
        <form class="w3-right w3-large" action="{% url 'emeasearch' %}" method="POST">
            {% csrf_token %}
            <input type="text" class="w3-bar-item w3-input"
             placeholder="OPPM|PV|Release" name='srch'>
            <button class="w3-button" type="submit">
                <i class="fa fa-search"></i>
            </button>
        </form>
    </div>

    <!-- Form -->
    <div class="w3-container">
        <div class="w3-panel w3-card-2 w3-light-grey">
          <div class="w3-row-padding">
          <!-- Col 1 -->
            <form class="w3-container w3-card-8" method='POST' action='{% url 'emeacaladd' %}' name="addcalform">
              {% csrf_token %}
              <br>
              <div class="w3-col w3-container w3-light-grey" style="width:25%">
                <div class="w3-group">
                  <label class="w3-label w3-medium" for="release"><b>Release</b></label>
                  <input class="w3-input w3-light-grey" type="text" style="width:80%"
                   required id="release" name="release" placeholder="R[1-4]-yyyy">
                 </div>
                 <br>

                 <div class="w3-group">
                   <label class="w3-label w3-medium"><b>Planning Start Date</b></label>
                   <input class="w3-input w3-light-grey" type="date" style="width:80%"
                    required id="planstrtdte" name="planstrtdte" required pattern="[0-9]{4}-[0-9]{2}-[0-9]{2}"
                    placeholder="yyyy-mm-dd">
                  </div>
                  <br>

                  <div class="w3-group">
                   <label class="w3-label w3-medium"><b>Planning End Date</b></label>
                   <input class="w3-input w3-light-grey" type="date" style="width:80%"
                    id="planenddte" name="planenddte" required pattern="[0-9]{4}-[0-9]{2}-[0-9]{2}"
                    placeholder="yyyy-mm-dd">
                  </div>
                  <br>

                  <div class="w3-group">
                    <label class="w3-label w3-medium"><b>Initiation Start Date</b></label>
                    <input class="w3-input w3-light-grey" type="date" style="width:80%"
                     id="initstrtdte" name="initstrtdte" required pattern="[0-9]{4}-[0-9]{2}-[0-9]{2}"
                     placeholder="yyyy-mm-dd">
                   </div>
                   <br>

                <div class="w3-group">
                    <label class="w3-label w3-medium"><b>Initiation End Date</b></label>
                    <input class="w3-input w3-light-grey" type="date" style="width:80%"
                     id="initenddte" name="initenddte" required pattern="[0-9]{4}-[0-9]{2}-[0-9]{2}"
                     placeholder="yyyy-mm-dd">
                </div>
                <br>
              </div>

              <!-- Col 2 -->
              <div class="w3-col w3-container w3-light-grey" style="width:25%">
                <div class="w3-group">
                    <label class="w3-label w3-medium"><b>Definition Start Date</b></label>
                    <input class="w3-input w3-light-grey" type="date" style="width:80%"
                     id="defstrtdte" name="defstrtdte" required pattern="[0-9]{4}-[0-9]{2}-[0-9]{2}"
                     placeholder="yyyy-mm-dd">
                </div>
                <br>

                <div class="w3-group">
                    <label class="w3-label w3-medium"><b>Definition End Date</b></label>
                    <input class="w3-input w3-light-grey" type="date" style="width:80%"
                     id="defenddte" name="defenddte" required pattern="[0-9]{4}-[0-9]{2}-[0-9]{2}"
                     placeholder="yyyy-mm-dd">
                </div>
                <br>

                <div class="w3-group">
                    <label class="w3-label w3-medium"><b>Design Start Date</b></label>
                    <input class="w3-input w3-light-grey" type="date" style="width:80%"
                     id="desstrtdte" name="desstrtdte" required pattern="[0-9]{4}-[0-9]{2}-[0-9]{2}"
                     placeholder="yyyy-mm-dd">
                </div>
                <br>

                <div class="w3-group">
                    <label class="w3-label w3-medium"><b>Design End Date</b></label>
                    <input class="w3-input w3-light-grey" type="date" style="width:80%"
                     id="desenddte" name="desenddte" required pattern="[0-9]{4}-[0-9]{2}-[0-9]{2}"
                     placeholder="yyyy-mm-dd">
                </div>
                <br>
              </div>

              <!-- Col 3 -->
              <div class="w3-col w3-container w3-light-grey" style="width:25%">
                <div class="w3-group">
                    <label class="w3-label w3-medium"><b>Construction Start Date</b></label>
                    <input class="w3-input w3-light-grey" type="date" style="width:80%"
                     id="constrtdte" name="constrtdte" required pattern="[0-9]{4}-[0-9]{2}-[0-9]{2}"
                     placeholder="yyyy-mm-dd">
                </div>
                <br>

                <div class="w3-group">
                    <label class="w3-label w3-medium"><b>Construction End Date</b></label>
                    <input class="w3-input w3-light-grey" type="date" style="width:80%"
                     id="conenddte" name="conenddte" required pattern="[0-9]{4}-[0-9]{2}-[0-9]{2}"
                     placeholder="yyyy-mm-dd">
                </div>
                <br>

                <div class="w3-group">
                    <label class="w3-label w3-medium"><b>Validation SIT Start Date</b></label>
                    <input class="w3-input w3-light-grey" type="date" style="width:80%"
                     id="sitstrtdte" name="sitstrtdte" required pattern="[0-9]{4}-[0-9]{2}-[0-9]{2}"
                     placeholder="yyyy-mm-dd">
                </div>
                <br>

                <div class="w3-group">
                    <label class="w3-label w3-medium"><b>Validation SIT End Date</b></label>
                    <input class="w3-input w3-light-grey" type="date" style="width:80%"
                     id="sitenddte" name="sitenddte" required pattern="[0-9]{4}-[0-9]{2}-[0-9]{2}"
                     placeholder="yyyy-mm-dd">
                </div>
                <br>
              </div>

              <!-- col 4 -->
              <div class="w3-col w3-container w3-light-grey" style="width:25%">
                <div class="w3-group">
                    <label class="w3-label w3-medium"><b>Validation UAT Start Date</b></label>
                    <input class="w3-input w3-light-grey" type="date" style="width:80%"
                     id="uatstrtdte" name="uatstrtdte" required pattern="[0-9]{4}-[0-9]{2}-[0-9]{2}"
                     placeholder="yyyy-mm-dd">
                </div>
                <br>

                <div class="w3-group">
                    <label class="w3-label w3-medium"><b>Validation UAT End Date</b></label>
                    <input class="w3-input w3-light-grey" type="date" style="width:80%"
                     id="uatenddte" name="uatenddte" required pattern="[0-9]{4}-[0-9]{2}-[0-9]{2}"
                     placeholder="yyyy-mm-dd">
                </div>
                <br>

                <div class="w3-group">
                    <label class="w3-label w3-medium"><b>Implementation Start Date</b></label>
                    <input class="w3-input w3-light-grey" type="date" style="width:80%"
                     id="implstrtdte" name="implstrtdte" required pattern="[0-9]{4}-[0-9]{2}-[0-9]{2}"
                     placeholder="yyyy-mm-dd">
                </div>
                <br>

                <div class="w3-group">
                    <label class="w3-label w3-medium"><b>Implementation End Date</b></label>
                    <input class="w3-input w3-light-grey" type="date" style="width:80%"
                     id="implenddte" name="implenddte" required pattern="[0-9]{4}-[0-9]{2}-[0-9]{2}"
                     placeholder="yyyy-mm-dd">
                </div>
                <br>

                <div class="w3-container">
                  <button class="w3-btn w3-teal w3-round-xxlarge" name="reset">Reset</button>
                  <input type="submit" value="Add" name="add" class="w3-btn w3-round-xxlarge w3-teal">
                </div>
                <br>
              </div>
            </form>
          </div> <!-- 3 -->
        </div> <!-- 2 -->
    </div> <!-- 1 -->
    <br>
    <br>

    <!-- Footer -->
    <footer class="w3-container w3-small w3-teal">
        <p class="w3-left">Msg: </p>
        {% if messages %}
            <ul class="messages w3-left w3-red">
                {% for message in messages %}
                    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}
    </footer>
</body>
</html>
