<!DOCTYPE html>
{% extends "relapp/base.html" %}

{% block content %}

<!-- Title -->
<div class="w3-container w3-center">
   <h4 class=w3-light-blue><b>EMEA Release Calendar : {{ release.releaseid }}</b></h4>
</div>

<div class="w3-container">
   <table class="w3-table w3-bordered w3-striped">
      <tr class="w3-pale-green">
         <th>Stage</th>
         <th>Start Date</th>
         <th>End Date</th>
      </tr>

      <tr>
         <td>Planning</td>
         <td>{{ release.planningstartdte | date:"d-m-Y" }}</td>
         <td>{{ release.planningenddte | date:"d-m-Y" }}</td>
      </tr>

      <tr>
         <td>Initiation</td>
         <td>{{ release.initstartdte | date:"d-m-Y" }}</td>
         <td>{{ release.initenddte | date:"d-m-Y" }}</td>
      </tr>

      <tr>
         <td>Definition</td>
         <td>{{ release.defnstartdte | date:"d-m-Y" }}</td>
         <td>{{ release.defnenddte | date:"d-m-Y" }}</td>
      </tr>

      <tr>
         <td>Construction</td>
         <td>{{ release.constrstartdte | date:"d-m-Y" }}</td>
         <td>{{ release.constrenddte | date:"d-m-Y" }}</td>
      </tr>

      <tr>
         <td>Validation SIT</td>
         <td>{{ release.valsitstartdte | date:"d-m-Y" }}</td>
         <td>{{ release.valsitenddte | date:"d-m-Y" }}</td>
      </tr>

      <tr>
         <td>Validation UAT</td>
         <td>{{ release.valuatstartdte | date:"d-m-Y" }}</td>
         <td>{{ release.valuatenddte | date:"d-m-Y" }}</td>
      </tr>

      <tr>
         <td>Implementation</td>
         <td>{{ release.implstartdte | date:"d-m-Y" }}</td>
         <td>{{ release.implenddte | date:"d-m-Y" }}</td>
      </tr>
   </table>
</div>

{% endblock %}
