<!DOCTYPE html>
{% extends "relapp/base.html" %}

{% block content %}

<!-- Title -->
<div class="w3-container w3-center">
 <h4><b>EMEA - Release List</b></h4>
</div>

<br>
<!-- Table -->
<div class="w3-container">
  <table class="w3-table w3-bordered w3-striped">
    <tr class="w3-pale-green">
      <th>Release</th>
      <th>OPPM</th>
      <th>Title</th>
      <th>PV</th>
      <th>Impacted Countries</th>
      <th>Impacted PPs</th>
      <th>BSG Lead BA</th>
      <th>BSG BA</th>
      <th>PM</th>
    </tr>

    {% for project in projects.all  %}
    <tr>
      <td>{{ project.release }}</td>
      <td><a href="{% url 'emeacard' project.oppm %}"> {{ project.oppm }} </a></td>
      <td>{{ project.title }}</td>
      <td>{{ project.pv }}</td>
      <td>{{ project.impactedcountries }}</td>
      <td>{{ project.impactedpps }}</td>
      <td>{{ project.bsgleadba }}</td>
      <td>{{ project.bsgba }}</td>
      <td>{{ project.pm }}</td>
    </tr>
    {% endfor %}

  </table>
</div>

{% endblock %}
