<!DOCTYPE html>
<html>
<title>Product Solutions Group</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<head>
<style>
    header {
        top: 0;
        left: 0;
        position: fixed;
        right: 0;
    }

    footer {
      bottom: 0;
      left: 0;
      position: fixed;
      right: 0;
      text-align: center;
    }
</style>

</head>

<body>

<header class="w3-container w3-teal">
  <h1>Product Solutions Group</h1>
</header>

<br>
<br>
<br>
<!-- Nav Bar -->
<div class="w3-container w3-bar w3-black w3-border">
    <a href="{% url 'home' %}">
        <i class="w3-left w3-xxlarge fa fa-home"></i>
    </a>

    <div class="w3-dropdown-hover">
        <button class="w3-button w3-large">Release</button>

        <div class="w3-dropdown-content w3-bar-block w3-card-4">
            <a href="#" class="w3-bar-item w3-button">Asia</a>
            <a href="{% url 'emeasumm' %}" class="w3-bar-item w3-button">EMEA</a>
            <a href="#" class="w3-bar-item w3-button">CTS</a>
        </div>
    </div>

    <div class="w3-dropdown-hover">
        <button class="w3-button w3-large">Calendar</button>

        <div class="w3-dropdown-content w3-bar-block w3-card-4">
            <a href="#" class="w3-bar-item w3-button">Asia</a>
            <a href="{% url 'emeacal' %}" class="w3-bar-item w3-button">EMEA</a>
            <a href="#" class="w3-bar-item w3-button">CTS</a>
        </div>
    </div>

    <a href="#" class="w3-bar-item w3-button w3-large">Resource</a>

    <div class="w3-dropdown-hover">
        <button class="w3-button w3-large">Contact</button>

        <div class="w3-dropdown-content w3-bar-block w3-card-4">
            <a href="#" class="w3-bar-item w3-button">Asia</a>
            <a href="{% url 'emeacontact' %}" class="w3-bar-item w3-button">EMEA</a>
            <a href="#" class="w3-bar-item w3-button">CTS</a>
        </div>
    </div>

    <a href="#" class="w3-bar-item w3-button w3-large">About</a>

    <!-- Search -->
    <form class="w3-right w3-large" action="{% url 'emeasearch' %}" method="POST">
        {% csrf_token %}
        <input type="text" class="w3-bar-item w3-input"
         placeholder="OPPM|PV|Release" name='srch'>
        <button class="w3-button" type="submit">
            <i class="fa fa-search"></i>
        </button>
    </form>
</div>

<br>
<br>
<!-- Form -->
<div class="w3-container">
    <div class="w3-panel w3-card-2 w3-light-grey">
      <div class="w3-row-padding">
      <!-- Col 1 -->
        <form class="w3-container w3-card-8" method='POST' action='{% url 'emeaadd' %}' name="addform">
          {% csrf_token %}
          <br>
          <div class="w3-col w3-container w3-light-grey" style="width:25%">
            <div class="w3-group">
              <label class="w3-label w3-medium" for="oppm"><b>OPPM</b> #</label>
              <input class="w3-input w3-light-grey" type="text" style="width:80%"
               required id="oppm" name="oppm">
             </div>
             <br>

             <div class="w3-group">
               <label class="w3-label w3-medium" for="title"><b>Title #</b></label>
               <input class="w3-input w3-light-grey" type="text" style="width:80%"
                required id="title" name="title">
              </div>
              <br>

            <div class="w3-group">
               <label class="w3-label w3-medium" for="release"><b>Release</b></label>
               <input class="w3-input w3-light-grey" type="text" style="width:80%"
                id="release" name="release">
            </div>
            <br>

            <div class="w3-group">
               <label class="w3-label w3-medium" for="pv"><b>Planview #</b></label>
               <input class="w3-input w3-light-grey" type="text" style="width:80%"
                id="pv" name="pv">
            </div>
            <br>
          </div>

          <!-- Col 2 -->
          <div class="w3-col w3-container w3-light-grey" style="width:25%">
            <div class="w3-group">
                <label class="w3-label w3-medium" for="funding"><b>Funding</b></label>
                <input class="w3-input w3-light-grey" style="width:80%" name="funding" list="funding">
                <datalist id="funding">
                    <option value="BAU">
                    <option value="Incremental">
                </datalist>
            </div>
            <br>

            <div class="w3-group">
              <label class="w3-label w3-medium" for="bsgleadba"><b>BSG Lead</b></label>
              <input class="w3-input w3-light-grey" type="text" style="width:80%"
               id="bsgleadba" name="bsgleadba">
            </div>
            <br>

            <div class="w3-group">
              <label class="w3-label w3-medium" for="bsgba"><b>BSG BA</b></label>
              <input class="w3-input w3-light-grey" type="text" style="width:80%"
               id="bsgba" name="bsgba">
            </div>
            <br>

            <div class="w3-group">
              <label class="w3-label w3-medium" for="pm"><b>Project Manager</b></label>
              <input class="w3-input w3-light-grey" type="text" style="width:80%"
               id="pm" name="pm">
            </div>
            <br>
          </div>

          <!-- Col 3 -->
          <div class="w3-col w3-container w3-light-grey" style="width:25%">
              <div class="w3-group">
                  <label class="w3-label w3-medium" for="funding"><b>Request Channel</b></label>
                  <input class="w3-input w3-light-grey" style="width:80%" name="requestchannel" list="channel">
                  <datalist id="channel">
                      <option value="Release">
                      <option value="RCR">
                  </datalist>
              </div>
              <br>

              <div class="w3-group">
                  <label class="w3-label w3-medium" for="impactedcountries"><b>Impacted Countries</b></label>
                  <input class="w3-input w3-light-grey" type="text" style="width:80%"
                   id="impactedcountries" name="impactedcountries">
              </div>
              <br>

              <div class="w3-group">
                  <label class="w3-label w3-medium" for="impactedpps"><b>Impacted PPs</b></label>
                  <input class="w3-input w3-light-grey" type="text" style="width:80%"
                   id="impactedpps" name="impactedpps">
              </div>
              <br>

              <div class="w3-group">
                  <label class="w3-label w3-medium" for="funding"><b>Status</b></label>
                  <input class="w3-input w3-light-grey" style="width:80%" name="status" list="status">
                  <datalist id="status">
                    <option value="Pending Requirements">
                    <option value="Pending Clarifications">
                    <option value="E0 WIP">
                    <option value="E1 WIP">
                  </datalist>
            </div>
            <br>
        </div>

        <!-- col 4 -->
        <div class="w3-col w3-container w3-light-grey" style="width:25%">
            <div class="w3-group">
                <label class="w3-label w3-medium" for="funding"><b>Investment Type</b></label>
                <input class="w3-input w3-light-grey" style="width:80%" name="invtype" list="invtype">
                <datalist id="invtype">
                    <option value="Run the Bank">
                    <option value="Build the Bank">
                </datalist>
            </div>
            <br>

            <div class="w3-group">
                <label class="w3-label w3-medium" for="funding"><b>Investment Category</b></label>
                <input class="w3-input w3-light-grey" style="width:80%" name="invcat" list="invcat">
                <datalist id="invcat">
                    <option value="Business Mandatory">
                    <option value="Business Discretioanry">
                    <option value="Tech Mandate">
                </datalist>
            </div>
            <br>
            <!-- <div class="w3-group">
              <label class="w3-label w3-medium" for="invsubcat">Investment Sub Category</label>
              <input class="w3-input w3-light-grey" type="text" style="width:80%"
               id="invsubcat" name="invsubcat">
            </div>
            <br> -->

            <div class="w3-group">
              <label class="w3-label w3-medium" for="remarks"><b>Remarks</b></label>
              <input class="w3-input w3-light-grey" type="text" style="width:80%"
               id="remarks" name="remarks">
            </div>
            <br>

          </div>

          <div class="w3-container">
            <button class="w3-btn w3-teal w3-round-xxlarge" name="reset">Reset</button>
            <input type="submit" value="Add" name="add" class="w3-btn w3-round-xxlarge w3-teal">
          </div>
          <br>
        </form>
      </div> <!-- 3 -->
    </div> <!-- 2 -->
</div> <!-- 1 -->


<!-- Footer -->
<footer class="w3-container w3-small w3-teal">
    <p class="w3-left">Msg: </p>
    {% if messages %}
        <ul class="messages w3-left w3-red">
            {% for message in messages %}
                <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}
</footer>

</body>
</html>
