<!DOCTYPE html>
<!DOCTYPE html>
{% extends "relapp/base.html" %}

{% block content %}

<!-- Add / Edit / Delete buttons -->
<div class="w3-xlarge">
    <div class="w3-container w3-right">
      <a href="{% url 'emeaadd' %}">
          <i class="fa fa-plus"></i>
      </a>

      <a href="#">
        <i class="fa fa-edit"></i>
      </a>

      <a href="#">
        <i class="fa fa-trash"></i>
      </a>
    </div>
</div>

<!-- Title -->
<div class="w3-container w3-center">
  <h4><b>EMEA Project : {{ project.oppm }} - {{ project.title }}</b></h4>
</div>

<br>

<!-- Project info Card -->
<div class="w3-container">
  <div class="w3-container w3-pale-green">
    <h4><b>Project Info</b></h4>
  </div>
</div>

<div class="w3-container">
  <div class="w3-row-padding">
    <div class="w3-panel w3-card-2 w3-light-grey">
      <div class="w3-col s6 w3-light-grey">
        <p><b>OPPM              :</b> {{ project.oppm }} - {{ project.title }}</p>
        <p><b>Release           :</b> {{ project.release }}</p>
        <p><b>Planview          :</b> {{ project.pv }}</p>
        <p><b>Funding           :</b> {{ project.funding }}</p>
        <p><b>Impacted Countries:</b> {{ project.impactedcountries }}</p>
        <p><b>Imapcted PPs      :</b> {{ project.impactedpps }}</p>
        <p><b>BSG Lead BA       :</b> {{ project.bsgleadba }}</p>
        <p><b>BSG BA            :</b> {{ project.bsgba }}</p>
        <p><b>Project Manager   :</b> {{ project.pm }}</p>
      </div>

      <div class="w3-col s6 w3-light-grey">
        <p><b>Request Channel   :</b> {{ project.requestchannel }}</p>
        <p><b>Inv Type          :</b> {{ project.invtype }}</p>
        <p><b>Inv Category      :</b> {{ project.invcat }}</p>
        <p><b>Inv Sub Category  :</b> {{ project.invsubcat }}</p>
        <p><b>Remarks           :</b> {{ project.remarks }}</p>
        <p><b>Status            :</b> {{ project.status }}</p>
        <p><b>Added Date        :</b> {{ project.adddte }}</p>
      </div>
    </div>
  </div>
</div>

<!-- Card 2 -->
<div class="w3-container">
  <div class="w3-container w3-pale-green">
    <h4><b>E0 Efforts</b></h4>
  </div>
</div>

<div class="w3-container">
  <div class="w3-row-padding">
    <div class="w3-panel w3-card-2 w3-light-grey">
        <!-- Table -->
        <div class="w3-container">
          <table class="w3-table w3-bordered w3-striped">
            <tr>
                <th>Module</th>
                <th>E0</th>
            </tr>

            {% for e0 in e0.all  %}
            <tr>
                <td>{{ e0.e0module }}</td>
                <td>{{ e0.e0efforts }}</td>
            </tr>
            {% endfor %}

          </table>
        </div>
    </div>
  </div>
</div>

<!-- Card 3 -->
<div class="w3-container">
  <div class="w3-container w3-pale-green">
    <h4><b>E1 Efforts</b></h4>
  </div>
</div>

<div class="w3-container">
  <div class="w3-row-padding">
    <div class="w3-panel w3-card-2 w3-light-grey">
        <!-- Table -->
        <div class="w3-container">
          <table class="w3-table w3-bordered w3-striped">
            <tr>
                <th>Module</th>
                <th>E1</th>
            </tr>

            {% for e1 in e1.all  %}
            <tr>
                <td>{{ e1.e1module }}</td>
                <td>{{ e1.e1efforts }}</td>
            </tr>
            {% endfor %}

          </table>
        </div>
    </div>
  </div>
</div>
<br>
<br>

{% endblock %}
