<!DOCTYPE html>
{% extends "relapp/base.html" %}

{% block content %}

<!-- Project info Card -->
<div class="w3-container">
   <div class="w3-container w3-pale-green">
      <h4><b>Project Info</b></h4>
   </div>
</div>

<!-- Form -->
<div class="w3-container">
   <div class="w3-panel w3-card-2 w3-light-grey">
      <div class="w3-row-padding">
      <!-- Col 1 -->
        <form class="w3-container w3-card-8" method='POST' action='{% url 'emeaadd' %}' name="addform">
          {% csrf_token %}
          <br>
          <div class="w3-col w3-container w3-light-grey" style="width:25%">
             <div class="w3-group">
               <label class="w3-label w3-medium" for="oppm"><b>OPPM</b> #</label>
               <input class="w3-input w3-light-grey" type="text" style="width:80%"
                required id="oppm" name="oppm">
            </div>
            <br>

            <div class="w3-group">
               <label class="w3-label w3-medium" for="title"><b>Title #</b></label>
               <input class="w3-input w3-light-grey" type="text" style="width:80%"
                required id="title" name="title">
            </div>
            <br>

            <div class="w3-group">
               <label class="w3-label w3-medium" for="release"><b>Release</b></label>
               <input class="w3-input w3-light-grey" type="text" style="width:80%"
                id="release" name="release">
            </div>
            <br>

            <div class="w3-group">
               <label class="w3-label w3-medium" for="pv"><b>Planview #</b></label>
               <input class="w3-input w3-light-grey" type="text" style="width:80%"
                id="pv" name="pv">
            </div>
            <br>
          </div>

          <!-- Col 2 -->
          <div class="w3-col w3-container w3-light-grey" style="width:25%">
             <div class="w3-group">
                <label class="w3-label w3-medium" for="funding"><b>Funding</b></label>
                <input class="w3-input w3-light-grey" style="width:80%" name="funding" list="funding">
                <datalist id="funding">
                    <option value="BAU">
                    <option value="Incremental">
                </datalist>
             </div>
            <br>

            <div class="w3-group">
               <label class="w3-label w3-medium" for="bsgleadba"><b>BSG Lead</b></label>
               <input class="w3-input w3-light-grey" type="text" style="width:80%"
                id="bsgleadba" name="bsgleadba">
            </div>
            <br>

            <div class="w3-group">
               <label class="w3-label w3-medium" for="bsgba"><b>BSG BA</b></label>
               <input class="w3-input w3-light-grey" type="text" style="width:80%"
                id="bsgba" name="bsgba">
            </div>
            <br>

            <div class="w3-group">
               <label class="w3-label w3-medium" for="pm"><b>Project Manager</b></label>
               <input class="w3-input w3-light-grey" type="text" style="width:80%"
                id="pm" name="pm">
            </div>
            <br>
         </div>

         <!-- Col 3 -->
         <div class="w3-col w3-container w3-light-grey" style="width:25%">
            <div class="w3-group">
               <label class="w3-label w3-medium" for="funding"><b>Request Channel</b></label>
               <input class="w3-input w3-light-grey" style="width:80%" name="requestchannel" list="channel">
               <datalist id="channel">
                  <option value="Release">
                  <option value="RCR">
               </datalist>
            </div>
            <br>

            <div class="w3-group">
               <label class="w3-label w3-medium" for="impactedcountries"><b>Impacted Countries</b></label>
               <input class="w3-input w3-light-grey" type="text" style="width:80%"
                id="impactedcountries" name="impactedcountries">
            </div>
            <br>

            <div class="w3-group">
               <label class="w3-label w3-medium" for="impactedpps"><b>Impacted PPs</b></label>
               <input class="w3-input w3-light-grey" type="text" style="width:80%"
                id="impactedpps" name="impactedpps">
            </div>
            <br>

            <div class="w3-group">
               <label class="w3-label w3-medium" for="funding"><b>Status</b></label>
               <input class="w3-input w3-light-grey" style="width:80%" name="status" list="status">
               <datalist id="status">
                  <option value="Analysis WIP">
                  <option value="Canceled">
                  <option value="E1 Provided">
                  <option value="E1 Review by Dev">
                  <option value="E1 WIP">
                  <option value="FR Internal Review WIP">
                  <option value="FR NA">
                  <option value="FR Review by Dev">
                  <option value="FR Signed Off">
                  <option value="FR WIP">
                  <option value="No Card Impact">
                  <option value="Pending Clarification from Biz">
                  <option value="Pending FR Sign Off">
                  <option value="Pending FR Walk Thru">
                  <option value="Pending Requirements">
                  <option value="SOW">
                  <option value="TBD">
               </datalist>
            </div>
            <br>
        </div>

        <!-- col 4 -->
        <div class="w3-col w3-container w3-light-grey" style="width:25%">
           <div class="w3-group">
               <label class="w3-label w3-medium" for="funding"><b>Investment Type</b></label>
               <input class="w3-input w3-light-grey" style="width:80%" name="invtype" list="invtype">
               <datalist id="invtype">
                  <option value="Run the Bank">
                  <option value="Build the Bank">
               </datalist>
         </div>
         <br>

         <div class="w3-group">
            <label class="w3-label w3-medium" for="funding"><b>Investment Category</b></label>
            <input class="w3-input w3-light-grey" style="width:80%" name="invcat" list="invcat">
            <datalist id="invcat">
               <option value="Business Discretionary">
               <option value="Business Mandatory">
               <option value="Business Strategic">
               <option value="Production Support/Business Sustainability">
               <option value="Safety and Soundness">
               <option value="Business Mandatory">
               <option value="Technology Mandatory">
            </datalist>
         </div>
         <br>

            <!-- <div class="w3-group">
              <label class="w3-label w3-medium" for="invsubcat">Investment Sub Category</label>
              <input class="w3-input w3-light-grey" type="text" style="width:80%"
               id="invsubcat" name="invsubcat">
            </div>
            <br> -->

         <div class="w3-group">
            <label class="w3-label w3-medium" for="remarks"><b>Remarks</b></label>
            <input class="w3-input w3-light-grey" type="text" style="width:80%"
             id="remarks" name="remarks">
         </div>
         <br>

         <div class="w3-container">
            <button class="w3-btn w3-teal w3-round-xxlarge" name="reset">Reset</button>
            <input type="submit" value="Add" name="add" class="w3-btn w3-round-xxlarge w3-teal">
         </div>
         <br>

        </form>
      </div> <!-- 3 -->
    </div> <!-- 2 -->
</div> <!-- 1 -->
<br>
<br>
{% endblock %}
