<!DOCTYPE html>
{% extends "relapp/base.html" %}

{% block content %}

<!-- Title -->
<div class="w3-container w3-center">
   <h4 class=w3-light-blue>EMEA Contact List</h4>
</div>

<div class="w3-container">
   <table class="w3-table w3-bordered w3-striped">
      <tr class="w3-pale-green">
         <th>Name</th>
         <th>SOE</th>
         <th>Region</th>
         <th>Module</th>
         <th>Work</th>
         <th>Mobile</th>
         <th>Location</th>
         <th>Perm / Vendor</th>
      </tr>

      <!-- {% for project in projects.all  %} -->
      <tr>
         <td>Vinod Verghese</td>
         <td>VV20289</td>
         <td>EMEA</td>
         <td>ECMS</td>
         <td>6654 2949</td>
         <td>9663 5593</td>
         <td>Singapore</td>
         <td>Perm</td>
      </tr>
      <!-- {% endfor %} -->
  </table>
</div>

{% endblock %}
