<!DOCTYPE html>
<html>
<title>Product Solutions Group</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<style media="screen">
  header {
    top: 0;
    left: 0;
    position: fixed;
    right: 0;
  }

  footer {
    bottom: 0;
    left: 0;
    position: fixed;
    right: 0;
    text-align: center;
  }
</style>

<body>

<header class="w3-container w3-teal" >
  <h1>Product Solutions Group</h1>
</header>
<br>
<br>
<br>
<!-- Nav Bar -->
<div class="w3-container w3-bar w3-black w3-border">
    <a href="{% url 'home' %}">
        <i class="w3-left w3-xxlarge fa fa-home"></i>
    </a>

    <div class="w3-dropdown-hover">
        <button class="w3-button w3-large">Release</button>

        <div class="w3-dropdown-content w3-bar-block w3-card-4">
            <a href="#" class="w3-bar-item w3-button">Asia</a>
            <a href="{% url 'emeasumm' %}" class="w3-bar-item w3-button">EMEA</a>
            <a href="#" class="w3-bar-item w3-button">CTS</a>
        </div>
    </div>

    <div class="w3-dropdown-hover">
        <button class="w3-button w3-large">Calendar</button>

        <div class="w3-dropdown-content w3-bar-block w3-card-4">
            <a href="#" class="w3-bar-item w3-button">Asia</a>
            <a href="{% url 'emeacal' %}" class="w3-bar-item w3-button">EMEA</a>
            <a href="#" class="w3-bar-item w3-button">CTS</a>
        </div>
    </div>

    <a href="#" class="w3-bar-item w3-button w3-large">SEW</a>
    <a href="#" class="w3-bar-item w3-button w3-large">Resource</a>

    <div class="w3-dropdown-hover">
        <button class="w3-button w3-large">Contact</button>

        <div class="w3-dropdown-content w3-bar-block w3-card-4">
            <a href="#" class="w3-bar-item w3-button">Asia</a>
            <a href="{% url 'emeacontact' %}" class="w3-bar-item w3-button">EMEA</a>
            <a href="#" class="w3-bar-item w3-button">CTS</a>
        </div>
    </div>

    <a href="#" class="w3-bar-item w3-button w3-large">About</a>

    <!-- Search -->
    <form class="w3-right w3-large" action="{% url 'emeasearch' %}" method="POST">
        {% csrf_token %}
        <input type="text" class="w3-bar-item w3-input"
         placeholder="OPPM|PV|Release" name='srch'>
        <button class="w3-button" type="submit">
            <i class="fa fa-search"></i>
        </button>
    </form>
</div>

<br>
<!-- Quote -->
<div class="w3-panel w3-center w3-bottombar w3-sand w3-large w3-serif">
  <p><i>"Make it as simple as possible, but not simpler."</i></p>
</div>

<!-- Picture -->
<div class="w3-row-padding w3-section">
    <div class="w3-card-2">
      <img src="/pics/media/LR-Office-1.jpg" alt="office" style="width:100%">
    </div>
</div>

<!-- Footer -->
<footer class="w3-container w3-small w3-teal">
  <p>Footer information goes here</p>
</footer>

</body>
</html>
